<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gjw.mapper.AnswerMapper">

    <select id="checkRepeat" resultType="String">
        select answer
        from answer
        where eID = #{eID}
          and sID = #{sID}
          and qNum = #{qNum}
    </select>

    <insert id="buildAnswer">
        insert into answer (eID, qNum, sID, answer)
        values (#{eID}, #{qNum}, #{sID}, #{answer})
    </insert>

    <update id="updateAnswer">
        update answer
        set answer = #{answer}
        where eID = #{eID}
          and sID = #{sID}
          and qNum = #{qNum}
    </update>

    <select id="checkRecovery" resultType="Answer">
        select *
        from answer
        where eID = #{eID}
          and sID = #{sID}
    </select>

    <select id="judgeAnswer" resultMap="answerQuestionVo">
        SELECT a.qNum, q.qScore
        from answer a,
             question q
        where a.eID = q.eID
          and a.qNum = q.qNum
          and a.answer = q.qAnswer
          and a.sID = #{sID}
          and q.eID = #{eID}
    </select>
    <resultMap id="answerQuestionVo" type="Answer">
<!--        <result column="eID" property="eID"/>-->
        <result column="qNum" property="qNum"/>
<!--        <result column="answer" property="answer"/>-->
<!--        <result column="sID" property="sID"/>-->
        <association property="question" javaType="Question">
<!--            <result column="eID" property="eID"/>-->
<!--            <result column="qNum" property="qNum"/>-->
<!--            <result column="qAnswer" property="qAnswer"/>-->
            <result column="qScore" property="qScore"/>
        </association>

    </resultMap>


</mapper>