<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gjw.mapper.ExamInfoMapper">

    <select id="checkExamRepeat" resultType="int">
        select count(*)
        from examinfo
        where eNum = #{eNum}
    </select>


    <insert id="insertExamInfo" parameterType="ExamInfo"
            useGeneratedKeys="true"
            keyColumn="eID"
            keyProperty="eID">
        insert into examinfo (eNum, eName, eTime, eType, eWork, eOrgan, eLevel, ePeople, eScore, courseID,
                              courseName)
        values (#{eNum}, #{eName}, #{eTime}, #{eType}, #{eWork}, #{eOrgan}, #{eLevel}, #{ePeople}, #{eScore},
                #{courseID}, #{courseName})
    </insert>

    <delete id="delExamInfoByENUM" parameterType="String">
        delete
        from examinfo
        where eNum = #{eNum}
    </delete>

    <select id="queryAllStuByEIDLimit" resultMap="stuVo">
        SELECT s.sID, s.sName, s.IDCard, s.aNumber, e.eName, e.eLevel
        FROM student s,
             examinfo e
        WHERE s.eID = e.eID
        limit ${page},#{limit}
    </select>
    <resultMap id="stuVo" type="Student">
        <result column="sID" property="sID"/>
        <result column="sName" property="sName"/>
        <result column="IDCard" property="IDCard"/>
        <result column="aNumber" property="aNumber"/>
        <association property="examInfo" javaType="ExamInfo">
            <result column="eName" property="eName"/>
            <result column="eLevel" property="eLevel"/>
        </association>
    </resultMap>

    <update id="updateExamInfoByENUM" parameterType="Map">
        update examinfo
        set ePeople = #{ePeople}
        where eID = #{eID}
    </update>

    <select id="queryExamInfoByENum" parameterType="String" resultType="ExamInfo">
        select *
        from examinfo
        where eNum = #{eNum}
    </select>

    <select id="queryExamInfoByEID" parameterType="int" resultType="ExamInfo">
        select *
        from examinfo
        where eID = #{eID}
    </select>

    <select id="queryAllStuByEID" resultMap="vo">
        SELECT s.sName, s.IDCard, s.aNumber, e.eName, e.eLevel
        FROM student s,
             examinfo e
        WHERE s.eID = e.eID
    </select>
    <resultMap id="vo" type="Student">
        <result column="sName" property="sName"/>
        <result column="IDCard" property="IDCard"/>
        <result column="aNumber" property="aNumber"/>
        <association property="examInfo" javaType="ExamInfo">
            <result column="eName" property="eName"/>
            <result column="eLevel" property="eLevel"/>
        </association>
    </resultMap>

    <select id="queryAllEName" resultType="java.lang.String">
        select eName
        from examinfo
    </select>

    <insert id="insertType">
        insert into type (tType, tContent)
        values (#{tType}, #{tContent})
    </insert>

    <select id="queryTContent" parameterType="String" resultType="String">
        select tContent
        from type
        where tType = #{tType}
    </select>

    <select id="queryExamRes" resultMap="resVo">
        SELECT s.aNumber,
               s.sName,
               e.eName,
               e.courseName,
               e.eWork,
               e.eLevel,
               g.stuGrade,
               g.state
        FROM student s
                 INNER JOIN grade g on s.sID = g.sID
                 LEFT JOIN examinfo e ON g.eID = e.eID
        where e.eID = #{eID}
        limit #{page},#{limit}
    </select>
    <resultMap id="resVo" type="Student">
        <result column="aNumber" property="aNumber"/>
        <result column="sName" property="sName"/>
        <association property="examInfo" javaType="ExamInfo">
            <result column="eName" property="eName"/>
            <result column="courseName" property="courseName"/>
            <result column="eWork" property="eWork"/>
            <result column="eLevel" property="eLevel"/>
        </association>
        <association property="grade" javaType="Grade">
            <result column="stuGrade" property="stuGrade"/>
            <result column="state" property="state"/>
        </association>
    </resultMap>

    <select id="queryAllExamRes" resultMap="allResVo">
        SELECT s.aNumber,
               s.sName,
               e.eName,
               e.courseName,
               e.eWork,
               e.eLevel,
               g.stuGrade,
               g.state
        FROM student s
                 INNER JOIN grade g on s.sID = g.sID
                 LEFT JOIN examinfo e ON g.eID = e.eID
        where e.eID = #{eID}
    </select>
    <resultMap id="allResVo" type="Student">
        <result column="aNumber" property="aNumber"/>
        <result column="sName" property="sName"/>
        <association property="examInfo" javaType="ExamInfo">
            <result column="eName" property="eName"/>
            <result column="courseName" property="courseName"/>
            <result column="eWork" property="eWork"/>
            <result column="eLevel" property="eLevel"/>
        </association>
        <association property="grade" javaType="Grade">
            <result column="stuGrade" property="stuGrade"/>
            <result column="state" property="state"/>
        </association>
    </resultMap>

    <select id="queryExamResBySID" resultMap="sIDResVo">
        SELECT s.aNumber,
               s.sName,
               e.eName,
               e.courseName,
               e.eWork,
               e.eLevel,
               g.stuGrade,
               g.state
        FROM student s
                 INNER JOIN grade g on s.sID = g.sID
                 LEFT JOIN examinfo e ON g.eID = e.eID
        where e.eID = #{eID}
          and s.sID = #{sID}
    </select>
    <resultMap id="sIDResVo" type="Student">
        <result column="aNumber" property="aNumber"/>
        <result column="sName" property="sName"/>
        <association property="examInfo" javaType="ExamInfo">
            <result column="eName" property="eName"/>
            <result column="courseName" property="courseName"/>
            <result column="eWork" property="eWork"/>
            <result column="eLevel" property="eLevel"/>
        </association>
        <association property="grade" javaType="Grade">
            <result column="stuGrade" property="stuGrade"/>
            <result column="state" property="state"/>
        </association>
    </resultMap>

</mapper>