<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gjw.mapper.ExamInfoMapper">

    <select id="checkExamRepeat" resultType="int">
        select count(*)
        from examinfo
        where eNum=#{eNum}
    </select>


    <insert id="insertExamInfo" parameterType="ExamInfo"
            useGeneratedKeys="true"
            keyColumn="eID"
            keyProperty="eID">
        insert into examinfo (eNum, eName, eTime, eType, eWork, eOrgan, eLevel, ePeople, eScore, courseID,
        courseName)
        values
        (
            #{eNum},#{eName},#{eTime},#{eType},#{eWork},#{eOrgan},#{eLevel},#{ePeople},#{eScore},#{courseID},#{courseName}
        )
    </insert>

    <delete id="delExamInfoByENUM" parameterType="String">
        delete
        from examinfo
        where eNum=#{eNum}
    </delete>

    <select id="queryAllStuByEID" resultMap="stuVo">
        SELECT s.sName,s.IDCard,s.aNumber,e.eName,e.eLevel
        FROM student s,examinfo e
        WHERE s.eID = e.eID
        limit ${page},#{limit}
    </select>
    <resultMap id="stuVo" type="Student">
        <result column="sName" property="sName"/>
        <result column="IDCard" property="IDCard"/>
        <result column="aNumber" property="aNumber"/>
        <association property="examInfo" javaType="ExamInfo">
            <result column="eName" property="eName"/>
            <result column="eLevel" property="eLevel"/>
        </association>
    </resultMap>
    
    <update id="updateExamInfoByENUM" parameterType="Map">
        update examinfo
        set ePeople = #{ePeople}
        where eID = #{eID}
    </update>

    <select id="queryExamInfoByENum" parameterType="String" resultType="ExamInfo">
        select *
        from examinfo where eNum=#{eNum}
    </select>



</mapper>