<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gjw.mapper.StudentMapper">

    <insert id="insertStudentInfo" parameterType="java.util.List">
        insert into student (eID,aNumber, IDCard, sName, sSex, sAge)
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.eID},
            #{item.aNumber},
            #{item.IDCard},
            #{item.sName},
            #{item.sSex},
            #{item.sAge}
            )
        </foreach>
    </insert>

    <select id="queryStudentCountByEID" parameterType="int" resultType="int">
        select count(*)
        from student
        where eID = #{eID}
    </select>

    <select id="checkLogin" parameterType="Map" resultMap="stuVo">
        select s.eID,
               s.sID,
               s.aNumber,
               s.sName,
               s.IDCard,
               e.eWork,
               e.eLevel,
               e.courseID,
               e.courseName
        from examinfo e,
             student s
        where e.eName = #{eName}
          and s.aNumber = #{aNumber}
          and s.IDCard = #{IDCard}
          and s.sName = #{sName}
    </select>
    <resultMap id="stuVo" type="Student">
        <result column="sID" property="sID"/>
        <result column="eID" property="eID"/>
        <result column="aNumber" property="aNumber"/>
        <result column="sName" property="sName"/>
        <result column="IDCard" property="IDCard"/>
        <association property="examInfo" javaType="ExamInfo">
            <result column="eWork" property="eWork"/>
            <result column="eLevel" property="eLevel"/>
            <result column="courseID" property="courseID"/>
            <result column="courseName" property="courseName"/>
        </association>
    </resultMap>

    <select id="queryAllSID" parameterType="int" resultType="Grade">
        select sID,eID
        from student where eID=#{eID}
    </select>


</mapper>